
.login-page {
  position: relative;
  top: 50px;
  margin: 30px auto;
  width: 73%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  .imglogo{
    background-color: #2196F3;  
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 399px;
    border-radius: 17px 0 0 17px;
    img{
      border-radius: 50%;
      width: 30%;
      cursor: pointer;
    }
    i {
      position: absolute;
      top: -250px;
      background-color: aqua;
      animation: animateStars linear infinite ;
    }
  }
  .form-login {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 0px 17px 17px 0;
    h3 {
      margin: 0;
      color: #000;
      font-size: 24px;
      font-weight: 700;
    }
    .formControl {
      height: 39px;
      font-size: 13px;
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.07);
      transition-duration: .5s;
      padding-left: 15px;
      width: 91%;
      margin: 10px 2px 10px 5px;
    }
    .forget p {
      text-align: right;
      color: #218BE7;
      margin: 20px 3px 3px;
    }
    .button-login {
      height: 40px;
      background-color: #f54b24;
      color: #fff;
      border-radius: 5px;
      font-size: 15px;
      border: none;
      outline: none;
      box-shadow: none;
      width: 100%;
    }
  }
}

@keyframes animateStars
{
  0%
  {
    transform: translateY(0);
  }
  100%
  {
    transform: translateY(200vh);
  }
}
@media only screen and (max-width: 425px) {
  .login-page {
    width: 82%;
    .imglogo {
      display: none;
    }
  }
  .form-login p {
    line-height: 15px !important;
  }
}