@import "src/modules/shopDetail/style";
@import "src/modules/menu/styleMenu";

img {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace !important;
}
i.mdi-crosshairs-gps {
  margin: 5px !important;
}
i.fa-download {
  margin: 10px;
}
.dropdown-menu {
  /* text-align: center; */
  padding-left: 7px;
}
  
.navbar .navbar-menu-wrapper {
  align-items: center !important;
}
.about , .product {
  border-color: #000;
  color: #000;
  cursor: pointer;
}
.about.active , .product.active {
  cursor: pointer;
  border-color: #f54b24;
  color: #f54b24;
}
.nav-table{
  display: flex;
  position: relative;
  padding: 10px 15px 0;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: flex-end;
}
.search-field {
  background-color: #fff;
}
.nav-table .left-option{
  display: flex;
  justify-content: flex-start;
}
.nav-table .right-option {
  display: flex;
  justify-content: flex-end;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: black;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
  color: #1da1f2;
  font-family: "ubuntu-medium", sans-serif;
}
.sidebar .nav .nav-item.active > .nav-link i {
  color: #bba8bff5;
}
.ant-btn {
  margin: 10px;
  border: none !important;
}

.ant-pagination {
  text-align: end;
  margin: 10px !important;
}

.nav-option {
  display: flex;
  border: 1px solid ;
  position: relative;
  padding: 7px;
}
.about {
  height: 39px;
  padding: 10px 10px 3px;
  margin-left: 15px;
  border-bottom: 2px solid ;
}
.product {
  border-bottom: 2px solid ;
  height: 39px;
  padding: 10px 10px 3px;
}
.approve-btn-detail {
  // background-color: #32ef28 !important;
  position: absolute !important;
  right: 10px;
  top: 1px;
}
.btn-back {
  background-color: #ffa009 !important;
  position: absolute !important;
  right: 150px;
  top: 1px;
}
.ant-picker-range {
  width: 221px;
} 
.search-field {
  width: 195px;
} 
.navbar .navbar-menu-wrapper {
  background-color: rgb(238, 238, 238);
}
.content-wrapper {
  background: #f2edf3;
  padding: 1rem 2.25rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ant-input{
  margin: 10px !important;
}
nav a{
  color: #fff;
}
.navbar .navbar-brand-wrapper {
  background-color: #6acff7;
}
.dropdown .dropdown-menu .dropdown-item:hover  {
  background-color: #1da1f2;
}
.ant-modal-body {
  position: relative;
  .img-content-product{
    display: flex;
    margin: 5px;
    .imgs {
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      img{
        width: 30%;
        margin: 5px;
      }
    }
    .content-detail-product {
      width: 50%;
      margin: 5px;
      .modal-info {
        margin: 15px 5px;
        float: left;
        width: 100%;
        & > h3 {
          font-weight: 600;
          font-size: 19px;
          width: 199px;
          float: left;
        }
        & > p {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0 10px
        }
      }

    }
  }
}

@include shopDetail;
@include menu-main;

@media only screen and (max-width: 1440px) {

  .nav-table .left-option{
    flex-wrap: wrap;
  }
  .nav-table .right-option {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
    background-color: #eeeeee;
  }
}
@media only screen and (max-width: 768px) {
  .search-field {
    width: 105px;
  } 
  .navbar .navbar-menu-wrapper {
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    justify-content: inherit;
  }
  .navbar-brand-wrapper {
    display: none !important;
  }
  .nav-table .left-option{
    flex-wrap: wrap;
  }
  .nav-table .right-option {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 425px){
  .nav-table .left-option{
    flex-wrap: wrap;
  }
  .nav-table .right-option {
    flex-wrap: wrap;
  }
} 

